.pageName{
    float: left;
    font-size: 13px;
    color: #2e558e;
    margin: 5px 0 0 10px;
}
.content{
    width: 80%;
    margin: 50px auto;
    background-color: white;
    padding-bottom: 20px;
    box-shadow: 7px -5px 5px #999999;
}
.content .title{
     width: 100%;
    text-align: center;
    background: url("../img/white-title.png");
    text-shadow: 0 1px #ffffff;
    height: 35px;
    font-size: 20px;
    line-height: 34px;
    font-weight: bold;
}

.content .choose{
    width: 90%;
    margin: 10px 5% 0 5%;
}
.content .choose label{
    vertical-align: middle;
    line-height: 22px;
    height: 15px;
    font-size: 15px;

}
.content .choose select{
    vertical-align: middle;
    line-height: 22px;
    /*width: 12%;*/
}
.content .choose button{
    width: 8%;
    height: 22px;
    background-color: #639ACA;
    color: white;
}
.content .organization{
    width: 80%;
    margin: 10px 5% 45px 5%;
    padding: 10px 50px 0 50px;
    border: 2px dashed #CCC;
}
.content .organization ul{
    margin: 0 10px;
    border-bottom: 1px solid #DADBDD;
}

.content .organization ul li{
    display: inline-block;
    margin: 10px 0 0 0 ;
}
.content .organization .org{
    font-size: 15px;
}
.content .organization .oId{
    display: none;
}
.content .organization .delete{
    /*vertical-align: middle;*/
    /*margin: 10px 5px 0 0 ;*/
    float: right;
    font-size: 14px;
    padding: 0 3px;
    border-radius: 2px;
    background-color: #639ACA;
    color: white;
    cursor: pointer;
}
.content .organization .createTime{
    float: right;
    margin-right: 20px;
    font-size: 10px;
    color: #999999;
}
.content .organization .addOrg{
    text-align: right;
    margin:20px 10px  20px 10px;
}
.content .organization .addOrg label{
    font-size: 15px;
}
.content .organization .addOrg input{
    font-size: 14px;
}
.content .organization .addOrg .add{
    font-size: 15px;
    background-color: #2a558a;
    color: white;
    padding: 0 7px;
    outline: none;
}


