.pageName{
    float: left;
    font-size: 13px;
    color: #2e558e;
    margin: 5px 0 0 10px;
}
.content{
    width: 80%;
    margin: 50px auto;
    background-color: white;
    padding-bottom: 20px;
    box-shadow: 7px -5px 5px #999999;
}
.content .title{
     width: 100%;
    text-align: center;
    background: url("../img/white-title.png");
    text-shadow: 0 1px #ffffff;
    height: 35px;
    font-size: 20px;
    line-height: 34px;
    font-weight: bold;
}
.content .staffList{
    width: 92%;
    /*margin: 20px 5% 0 5%;*/
    margin: 20px auto;
    padding: 10px 0 20px 0;
    /*border: 2px dashed #CCC;*/
}
.content .staffList table{
    text-align: center;
    width: 100%;
    background-color: #CCC;
}
.content .staffList .header td{
    font-size: 14px;
    font-weight: bold;
}

.content .staffList td{
    /*width: 16%;*/
    font-size: 14px;
    background-color: #FFF;
    padding: 4px 0;
}
.content .staffList tr .parent{
    font-size: 13px;
    color: #555555;
}
.content .staffList button{
    border: none;
    width: 40px;
    cursor: pointer;
}
.content .staffList button:hover{
    color: #FF8400;
    background-color: #6D6D6D;
}

